:root {
  --bg-color: black;
  --text-color: white;
  --lbl-resultadoVisor: #7d7d7d;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body * {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

.container {
  width: 21.688rem;
  height: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudoCalculadora {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38.625rem;
}

.visor {
  display: flex;
  flex-direction: column;
}

#visorPrincipal {
  height: 8rem;
  text-align: right;
  font-size: 5.313rem;
}

#visorSecundario {
  height: 1.25rem;
  color: var(--lbl-resultadoVisor);
  font-size: 0.875rem;
  text-align: right;
  font-weight: 300;
}

.botoes button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 4.813rem;
  height: 4.813rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}

/*.botoes #num0 {
  justify-content: left;
  padding-left: 1.563rem;
  border-radius: 2.406rem;
  text-align: left;
  width: 10.438rem;
}*/

.botoes #backspace {
  background: #333 url(./assets/backspace.svg) no-repeat center;
}

.linhaBotoes {
  display: flex;
  justify-content: space-between;
  margin: 0.875rem 0rem;
}

.aux {
  background-color: #a5a5a5;
  transition: background-color 0.2s;
}

.aux:hover {
  background-color: #c4c4c4;
}

.numeros {
  background-color: #333;
  transition: background-color 0.2s;
}

.numeros:hover {
  background-color: #525252;
}

.operadores {
  background-color: #ff9f0a;
  transition: background-color 0.2s;
}

.operadores:hover {
  background-color: #ffbe5d;
}

.container footer {
  text-align: center;
  padding-bottom: 0rem;
  color: var(--lbl-resultadoVisor);
  font-weight: 200;
}
