:root {
  --bg-color: black;
  --text-color: white;
  --lbl-resultadoVisor: #7d7d7d;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body * {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.container {
  width: 347px;
  height: 675px;
}

.visor {
  display: flex;
  flex-direction: column;
}

#resultadoVisor {
  background-color: var(--bg-color);
  border: none;
  text-align: right;
  font-size: 85px;
}

#resultadoVisor:focus {
  outline: none;
}

#lblresultadoVisor {
  margin-right: 10px;
  height: 15px;
  color: var(--lbl-resultadoVisor);
  font-size: 14px;
  text-align: right;
  font-weight: 300;
}

.botoes button {
  border: none;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.linhaBotoes {
  display: flex;
  justify-content: space-between;
  margin: 14px 0px;
}

.aux {
  background-color: #a5a5a5;
  transition: background-color 0.2s;
}

.aux:hover {
  background-color: #c4c4c4;
}

.numeros {
  background-color: #333;
  transition: background-color 0.2s;
}

.numeros:hover {
  background-color: #525252;
}

.operadores {
  background-color: #ff9f0a;
  transition: background-color 0.2s;
}

.operadores:hover {
  background-color: #ffbe5d;
}

#num0 {
  padding-left: 25px;
  border-radius: 38.5px;
  text-align: left;
  width: 167px;
}

.container footer {
  text-align: center;
  margin-top: 50px;
  color: var(--lbl-resultadoVisor);
  font-size: 14px;
  font-weight: 200;
}

.container footer span {
  color: var(--lbl-resultadoVisor);
  font-size: 14px;
  font-weight: 300;
}
